<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>

<body>
<div class="wrapper">

    <% include sidebar.ejs %>

    <div class="main-panel">
        <% include navbar.ejs %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-11">
                        <h6><%= error.status %></h6>
                        <pre><%= error.stack %></pre>
                    </div>
                </div>
            </div>
        </div>

        <% include footer.ejs %>

    </div>
</div>
</body>

<% include tail.ejs %>

</html>
