<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.chintanvachhani.me">
                        Chintan Vachhani
                    </a>
                </li>
                <li>
                    <a href="https://github.com/ChintanVachhani">
                        <span class="ti-github"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/chintanvachhani/">
                        <span class="ti-linkedin"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; CV
            <script>document.write(new Date().getFullYear())</script>
            , Design by <a href="http://www.creative-tim.com">Creative Tim</a>
        </div>
    </div>
</footer>